<h1>Top Secret Page!</h1>

<img style="width: 500px" src="http://www.clipartkid.com/images/62/agency-d3-clip-art-Z9c49s-clipart.png">

<p>If you are reading this, you were meant to be here.</p>

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Log In</a></li>
<li><a href="/logout">Log Out</a></li>